@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Abshire_Ed.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeletePerson</title>
</head>
<body>
    <h1>Person Deleted</h1>
    <br />
    First Name: @Model.FirstName<br />
    Last Name: @Model.LastName<br />
    Email: @Model.Email<br />
    Phone: @Model.Phone<br />
    Address: @Model.Address<br />
    Username: @Model.Username<br />

    <a href="@Url.Action("Index", "Home")">Return Home</a>
</body>
</html>
