@{
    Layout = null;
}
@model Abshire_Ed.Models.PersonModel

<!doctype html>
<html>
    <head>
        <title>Prog 123 - Page 2</title>
    </head>
    <body>
        <h1>Hello, World from Page2.</h1>
        <br />
        First Name: @Model.FirstName<br />
        Last Name: @Model.LastName<br />
        Email: @Model.Email<br />
        Phone: @Model.Phone<br />
        Address: @Model.Address<br />
        Username: @Model.Username<br />
        Password: @Model.Password<br />

        <p><a href="@Url.Action("EditPerson", "Home")">Edit My Info</a></p>
        <p><a href="@Url.Action("DeletePerson", "Home")">Delete Info</a></p>
    </body>
</html>
